body {
    background-color: #343a40; 
    color: #fff;
    padding-top: 4.5rem; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; 
    padding-bottom: 60px; 
}

.list-group-item {
    justify-content: space-between; 
    align-items: center; 
}

.list-group-item.bg-light {
    background-color: #f8f9fa; 
}

.container {
    max-width: 960px; 
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius: 0.25rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.input-group {
    width: 100%; 
}

.btn-danger {
    width: 80%; 
}

.list-group-item {
    justify-content: space-between; 
    align-items: center; 
}

.btn-primary {
    width: 100%; 
}

