{% extends 'base.html' %}

{% block content %}
<br>
  <h2>Tu carrito</h2>
  {% if items %}
    <table>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ item.product.titulo }}</td>
          <td>${{ item.product.precio }}</td>
          <td>
            <form method="POST" action="{% url 'actualiza_carrito' item.id %}">
              {% csrf_token %}
              <input type="number" name="cantidad_item" value="{{ item.cantidad_item }}" min="1">
              <button type="submit">Actualizar</button>
            </form>
          </td>
          <td>${{ item.total }}</td>
          <td>
            <a href="{% url 'eliminar_del_carrito' item.id %}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>Total del carrito: ${{ total }}</p>
  {% else %}
    <p>Tu carrito está vacío</p>
  {% endif %}
{% endblock %}