{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center">Crear Producto</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            </form>
        </div> 
    </div>
</div>
{% endblock %}
