{% extends 'base.html' %}
{% block content %}

{% load static %}
<main>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'myapp/images/Zelda_carousel.jpg' %}" alt="Pokemon foto" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
      </div>
      <div class="carousel-item">
        <img src="{% static 'myapp/images/Magic_carousel.png' %}" alt="Pokemon foto" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
      </div>
      <div class="carousel-item">
        <img src="{% static 'myapp/images/carouser_dinosaur.jpg'%}" alt="Pokemon foto" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <image href="{% static 'myapp/images/logo_circular.png'%}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
        </svg>        
        <h2 class="fw-normal">Videojuegos</h2>
        <p>¿Buscas los mejores juegos? </p>
        <p><a class="btn btn-secondary" href="{% url 'lista_Productos' %}"> Haz click aqui!! &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <image href="{% static 'myapp/images/logo_figura_redonda.jpg'%}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
        </svg>           
        <h2 class="fw-normal">Figuras</h2>
        <p>¿Buscas ampliar tu colección?</p>
        <p><a class="btn btn-secondary" href="{% url 'pagina_en_mantencion' %}"> Haz click aqui!!&raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <image href="{% static 'myapp/images/logo_otros_redonda.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
        </svg>  
        <h2 class="fw-normal">Otros...</h2>
        <p>¿Buscas algún regalo u accesorio geek?</p>
        <p><a class="btn btn-secondary" href="{% url 'pagina_en_mantencion' %}"> Haz click aqui!! &raquo;</a></p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> SUPER MARIO RPG SWITCH</h2>
        <p class="lead">Forma equipo con un grupo inusual de héroes para reparar la Vía Estelar y detener a la revoltosa Banda de Fraguo. 
            Este colorido juego de rol incluye gráficos y escenas cinemáticas actualizados que refuerzan el encanto de la alianza inesperada 
            entre Mario, Bowser y Peach con Mallow y Geno, el par de personajes originales de este juego. Descubre o regresa a este mundo de 
            aliados inusuales y personajes extravagantes en un juego de rol para todos.</p>
        <div class="d-flex gap-2">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMario" aria-controls="offcanvasMario" style="flex: 1;">Agregar al carrito</button>
            <a href="{% url 'pagina_en_mantencion' %}" class="btn btn-secondary" style="flex: 1;">Ver más información</a>

        </div>
      </div>
      <div class="col-md-5">
        <img src="{% static 'myapp/images/mario_descuento_logo.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="500x500">     
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">TAZA DE CUPHEAD</h2>
        <p class="lead">JUST FUNKY taza oficial de cuphead. Acabado Gran Taza/Capa de Café de Cerámica con 
          Revestimiento/Paja Moldeada, Color Blanco, 20 OZ</p>
        <div class="d-flex gap-2">
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCuphead" aria-controls="offcanvasCuphead" style="flex: 1;">Agregar al carrito</button>
          <a href="{% url 'pagina_en_mantencion' %}" class="btn btn-secondary" style="flex: 1;">Ver más información</a>
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'myapp/images/cuphead_descuento_logo.jpg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="500x500">      
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">GOODSMILE-NENDOROID NARUTO UZUMAKI</h2>
        <p class="lead">¡De la popular serie de anime "Naruto Shippuden" llega una nueva versión del Nendoroid del personaje principal, 
            Naruto Uzumaki! Se sabe que los diseños de Nendoroid hacen que los personajes se vean más jóvenes de lo normal, ¡pero la 
            expresión confiada del Naruto adulto ha sido capturada fielmente en el lindo tamaño de Nendoroid!</p>
        <div class="d-flex gap-2">
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNaruto" aria-controls="offcanvasNaruto" style="flex: 1;">Agregar al carrito</button>
          <a href="{% url 'pagina_en_mantencion' %}" class="btn btn-secondary" style="flex: 1;">Ver más información</a>
        </div>
      </div>
      <div class="col-md-5">
        <img src="{% static 'myapp/images/naruto_descuento_logo.jpg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="500x500">             
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-5">
      <img src="{% static 'myapp/images/Encuentra-tu-Pokemon-Favorito.png' %}">
    </div>

    <div class="container">
      <h1>WHO'S THAT POKÉMON!?...</h1>
      <div class="input-group mb-3">
        <form id="searchForm">
          <input type="text" class="form-control" id="pokemonName" placeholder="Ingrese el nombre del Pokémon" aria-label="Pokemon Name" autocomplete="off">
          <button class="btn btn-primary" type="button" id="BotonBuscar">Buscar</button>
          <button type="button" id="BotonLimpiar" class="btn btn-secondary mt-2">Limpiar Búsqueda</button>
        </form>
        
      </div>
      <div id="suggestions"></div>
      <h2>IS..</h2>
      <div id="pokemonDiv" class="mt-5"></div>

      <div id="pokemonImageContainer">
        <img id="pokemonImage" style="width: 400px; height: 400px; object-fit: cover;" src="{% static 'myapp/images/pokemon-3418266_640.png' %}" alt="Imagen del Pokémon">
      </div>
      <br>
      <h2>Habilidades:</h2>
      <ul id="abilitiesList"></ul>
    </div>

    
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
          </div>
          <div class="modal-body" id="errorMessage"> </div>
        </div>
      </div>
    </div>

  </div>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMario" aria-labelledby="offcanvasMarioLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasMarioLabel">Carrito de Compras</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
      Mario RPG.
    </div>
  </div>

  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCuphead" aria-labelledby="offcanvasCupheadLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasCupheadLabel">Carrito de Compras</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
      Taza de Cuphead.
    </div>
  </div>

  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNaruto" aria-labelledby="offcanvasNarutoLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNarutoLabel">Carrito de Compras</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
      Nendoroid Naruto.
    </div>
  </div>

</main>

{% endblock %}
