{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    text-align: center;
  }
  .card-title, .card-text {
    margin: 0;
  }
  .card:hover {
    transform: scale(1.03);
    transition: transform 0.4s ease-in-out;
  }
</style>

<div class="container mt-5">
  <h2 class="mb-4">Catálogo de Productos</h2>
  
  {% if user.is_superuser %}
    <a href="{% url 'Crear_Producto' %}" class="btn btn-primary mb-3">Agregar nuevo Producto</a>
  {% endif %}
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for Producto in products %}
    
      <div class="col">
        <div class="card h-100 shadow-sm">
          <a href="{% url 'detalle_Producto' Producto.id %}" class="text-decoration-none">
            {% if Producto.imagen %}
              <img src="{{ Producto.imagen.url }}" class="card-img-top" alt="{{ Producto.titulo }}">
            {% else %}
              <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top" alt="{{ Producto.titulo }}">
            {% endif %}
          </a>
          <div class="card-body">
            
            <p class="card-text text-primary fw-bold">{{ Producto.precio_formateado }} CLP</p>
            <p class="card-title text-primary">{{ Producto.titulo }}</p>
          </div>
          <div class="card-footer bg-white border-top-0">
            {% if user.is_superuser %}
              <a href="{% url 'detalle_Producto' Producto.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
              <form action="{% url 'eliminar_Producto' Producto.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?');">Eliminar</button>
              </form>
            {% else %}
              <a href="{% url 'agregar_al_carrito' Producto.id %}" class="btn btn-sm btn-primary w-100">Agregar al carrito</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12 text-center">
        <p>No hay juegos disponibles en este momento.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
