<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento</title>
    {% load static %}
    
    <link href="{% static 'myapp/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <style>
        body {
            background-color: #343a40; 
            color: white; 
            
        }
    </style>
</head>
<body>

<div class="container mt-5">
    
    <div class="alert alert-warning">
        <h4 class="alert-heading">¡Estamos en mantenimiento!</h4>
        <p>Disculpa las molestias. Actualmente estamos realizando tareas de mantenimiento en nuestro sitio web. Volveremos pronto.</p>
        <hr>
        <p class="mb-0">Para cualquier consulta, por favor contáctanos via nuestra página <a href="{% url 'contacto' %}">Contacto</a>.</p>
    </div>
</div>

</body>
</html>
