{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center">Productos</h1>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul class="list-group">
                {% for Producto in Productos %}
                <li class="list-group-item">
                    <a href="{% url 'detalle_Producto' Producto.id %}">
                        {% if Producto.important %}
                        <strong>{{ Producto.titulo }}</strong>
                        {% else %}
                        {{ Producto.titulo }}
                        {% endif %}

                        <p>{{ Producto.descripcion }}</p>
                        <p>{{ Producto.user.username }}</p>
                        <p>{{ Producto.precio_formateado }} CLP</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
